@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-moz-selection { /* For Firefox */
    background: var(--dark-pink);
    color: white;
  }
  
::selection {
    background: var(--dark-pink);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
}

:root {
    --pink-color: #F746B3;
    --dark-pink: #ce3995;
    --yellow-color: #FCB64C;
    --dark-color: #292929;
    --grey-color: #808080;
    --dark-grey: #353535;
}

body {
    height: 100vh;
    background: url('https://sm.ign.com/t/ign_br/screenshot/default/asphalt9legends-scotland-01_7muu.h1280.png') no-repeat right;
    background-size: cover;
}

aside {
    width: 30%;
    height: 100vh;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    padding: 2rem 0rem;
}

.head, .foot {
    width: 80%;
}

.contain {
    width: 80%;
}

.contain h1 {
    font-size: 2rem;
}

.bttn {
    padding: .5rem 1rem;
    background-color: rgba(29, 29, 29, 0.5);
    border: 1px solid rgb(40, 40, 40);
    border-radius: 5px;
    text-decoration: none;
}

.bttn:hover {
    background-color: #373737;
    outline: 2px solid rgb(223, 223, 223);
    outline-offset: 3px;
    transition: all ease-in-out 100ms;
    text-decoration: none;
}

.logo {
    width: 100%;
    height: 40px;
    display: block;
    background: url(/assets/gameparty_logo.svg) no-repeat center;
    background-size: contain;
    margin-bottom: 3rem;
}

form div {
    margin-top: 1rem
}

form label {
    color: var(--grey-color);
    font-size: .875rem;
}

form input{
    width: 100%;
    display: block;
    background-color: rgba(29, 29, 29, 0.5);
    border: 1px solid rgb(40, 40, 40);
    padding: .5rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: .5rem;
    transition: all ease-in-out 100ms;
}

form input:focus {
    outline: 2px solid rgb(223, 223, 223);
    outline-offset: 3px;
}

form input:hover {
    outline: 2px solid rgb(223, 223, 223);
    outline-offset: 3px;
}

#password {
    margin-bottom: .5rem;
}

.check {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.check input{
    display: inline;
    width: auto;
    margin-right: .5rem;
}

.check input:focus {
    outline: none
}

#submit {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: 500;
    padding: 1rem 0rem;
}

.foot {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: .875rem;
    color: rgb(203, 203, 203);
}

a:hover {
    text-decoration: underline;
}
